.crf  {color:#FF8000; }
.eth  {color:#808080; }
.mag  {color:#4850B8; }
.norm {color:#FFFFFF; }
.nrm  {color:#FFFFFF; }
.rar  {color:#FFFF00; }
.rw   {color:#A8A080; }
.set  {color:#00E000; }
.sock {color:#808080; }
.uni  {color:#A09868; }
.phys {color:#FFFFFF; }
.fire {color:#FF6060; }
.cold {color:#8080FF; }
.ltng {color:#FFFF80; }
.pois {color:#00C000; }
.magi {color:#FF8000; }
.champ {color:#8080FF; }
