html, body {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    background-image: url("./d2-loading-screen.gif");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.error {
    margin-bottom: 20px;
    color: rgb(228, 24, 24);
}

.base-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    margin-top: 5px;
    padding-left: 0px;
    padding-bottom: 5px;
    list-style-type: none;
    border-bottom: 1px solid #D0D0D0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:first-child)::before {
    margin-left: 5px;
    margin-right: 5px;
    content: ">";
}

dt::after {
    content: ": ";
}

.dl-flex {
    display: flex;
    column-gap: 80px;
}

.dl-inner {
    display: grid;
    grid-template-columns: max-content auto;
}

.dl-inner > dt {
    grid-column-start: 1;
}

.dl-inner > dd {
    grid-column-start: 2;
}

.affix-level-selector {
    appearance: textfield;
    -moz-appearance: textfield;
    width: 1.1em;
    margin-left: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.gheed-possible-uniques-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

@font-face {
    font-family: Exocet;
    src: url(./exocet.otf);
}

.MuiTooltip-root.item-tooltip-root {
    background-color: #000000c0;
    box-shadow: none;
    border-radius: 0;
}

.item-tooltip {
    text-align: center;
    font-family: Exocet;
    font-size: 19pt;
    padding: 5px;
}

.item-tooltip p {
    margin: 0;
}