html, body {
    height: 100%;
    margin-bottom: 0;
    margin-top: 0;
}

#root {
    height: 100%;
}

.loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000000;
    background-image: url("./d2-loading-screen.gif");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.error {
    margin-bottom: 20px;
    color: rgb(228, 24, 24);
}

.base-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadcrumb {
    margin-top: 5px;
    padding-left: 0px;
    padding-bottom: 5px;
    list-style-type: none;
    border-bottom: 1px solid #D0D0D0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:first-child)::before {
    margin-left: 5px;
    margin-right: 5px;
    content: ">";
}